@tailwind base;
@tailwind components;
@tailwind utilities;

@import "tailwindcss";



@keyframes marquee {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}

.animate-marquee {
  display: flex;
  gap: 20px; 
  animation: marquee 20s linear infinite; /* Adjust the time to change scrolling speed */
}

.perspective {
  perspective: 1500px;
}

.transform-style {
  transform-style: preserve-3d;
}

.backface-hidden {
  backface-visibility: hidden;
}

.rotate-y-180 {
  transform: rotateY(180deg);
}

.group:hover .group-hover\\:rotate-y-180 {
  transform: rotateY(180deg);
}




